
/* ==== Scroll down to find where to put your styles :) ==== */


/* 	HTML5 Boilerplate
 
	html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
	v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }

/* End of Reset CSS 

fonts.css from the YUI Library: developer.yahoo.com/yui/ */

body { font:13px/1.231 sans-serif; *font-size:small; } /* hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/* 
 * HTML5 Boilerplate - minimal base styles 
 */

body, select, input, textarea { 
  color: #444; 
  /* font-family: Georgia, serif;  */   
}
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }
ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre { 
  padding: 15px; 
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}
textarea { overflow: auto; } /* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
.ie6 legend, .ie7 legend { margin-left: -7px; } /* thnx ivannikolic! */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], input[type=reset], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { 
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red; 
 -webkit-box-shadow: 0px 0px 5px red; 
         box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

/* By default the selection color is pink */
::-moz-selection{ background: #f16529; color:#fff; text-shadow: none; }
::selection { background:#f16529; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #FF5E99; } 
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }


/* 
 * Non-semantic helper classes 
 */

/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers */
.hidden { display: none; visibility: hidden; } 

/* Hide only visually, but have it available for screenreaders */
.visuallyhidden { position: absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Clearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;	
} 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/*
    // ========================================== \\
   ||                                              ||
   ||               Your styles !                  ||
   ||                                              ||
    \\ ========================================== //
*/

body{
  margin: auto;
	width: 960px;
	height: 100%;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	color: white;
  background-color: black;
  background-image: url('/static/images/fond.jpg');
  background-repeat: no-repeat;
  background-position: 50% 151px;
}

span.faster {
  font-family: 'Rock Salt', Helvetica;
  letter-spacing: 0.25em;
  font-weight: bold;
  font-size: 11px;
  color: white;
}
span.energydrink {
  font-family: 'Changa One', Impact;
  font-size: 14px;
  color: red;
}

header {
  padding-top: 10px;
  text-align: center;
  margin-bottom: 10px;
  
  background-color: black;
  background-image: url('/static/images/boule_rouge.png');
  background-repeat: no-repeat;
  background-position: 252px 5px;
}
header h2 {
  color: red;
  font-size: 30px;
  font-family: 'Changa One', Impact;
}
header h3 {
  color: red;
  font-size: 28px;
  font-family: 'Changa One', Impact;
  margin-top: 57px;
  font-style: italic;
}
header img#logo {
  margin-left: 17px;
}
#title {
  margin-bottom: 15px;
}
h1#title{
  font-family: 'Rock Salt', arial, serif;
  letter-spacing: 0.25em;
  font-weight: bold;
  font-size: 50px;
}

nav {
	float: left;
	width: 170px;
	height: 100%;
	margin-top: 130px;
	position: relative;
}
nav#left {
  text-align: right;
}
nav#right {
  text-align: left;
}
nav#left ul.upper {
  margin-right: 10px;
}
nav#right ul.upper {
  margin-left: 10px;
}
nav#bottom {
  width: 100%;
  height: 25px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 20px;
}
nav ul.upper {
  position: absolute;
  top: 0px;
  width: 160px;
  padding-top: 15px;
}
nav ul.upper li {
  margin: 0px 0px 0px 0px;
}
nav a {
	color:white;
	text-decoration:none;
	font-family: 'Changa One', Impact;
  font-size: 30px;
  line-height: 28px;
}
nav#bottom a {
  font-size: 20px;
  line-height: 22px;
}
nav ul.under a {
  font-size: 20px;
  line-height: 22px;
}
nav ul.under li {
  margin: 0px 0px 0px 0px;
}
nav ul li a img {
  margin-right: 2px;
}
nav div#under_products {
  display: none;
}
nav a:active, nav a:visited {
  color:white;
}
nav a:hover {
  color:red;
}
nav a.selected {
  color:red;
}
div#networks {
  display: none;
  /*
  position: fixed;
  margin-bottom: 0px;
  */
  position: absolute;
  margin-bottom: 100px;
  bottom: 0px;
  height: 72px;
  width: 170px;
  /* 960px - 170px - 170px */
  margin-left: 620px;
  padding-left: 10px;
  padding-bottom: 10px;
}

footer {
  display: none;
	height:30px;
	margin-top:40px;
	margin-bottom:30px;
	text-align: center;
}
p#copyright{
  font-style: italic;
  font-size: 10px;
}

section#main {
  float: left;
  width: 620px;
  height: 100%;
  position: relative;
}
article {
  text-align: left;
  height: 230px;
}
article h1 {
  color: red;
  font-size: 30px;
  font-family: 'Changa One', Impact;
  padding-bottom: 5px;
}
article h2 {
  color: red;
  font-family: 'Changa One', impact, arial, serif;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 25px;
}
article h2.first {
  margin-top: -2px;
}
article p {
  color: white;
  font-size: 14px;
  margin-left: 10px;
}
article p.first {
  margin-top: 2px;
}
article p.avertissements {
  margin-top: 60px;
  font-size: 11px;
  font-style: italic;
  margin-left: 0px;
}
article p.result {
  margin-top: 20px;
  text-align: center;
}
article p.error {
  text-align: center;
  color: red;
}
article p.photo {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  display: inline-block;
  width: 100%;
}
article p.photo img {
  width: 550px;
}
article p.photo img.left {
  width: 190px;
  float: left;
}
article p.photo img.middle {
  width: 190px;
  margin-left: 12px;
  float: left;
}
article p.photo img.right {
  width: 190px;
  margin-left: 12px;
  float: left;
}
article a, article a.selected, article a:visited {
  color:red;
}
article a:hover {
  color:white;
}

article div.page_content {
  position: absolute;
  width: 620px;
}
article div#page_content_2 {
  display: none;
}

article div.evenements {
  height: 875px;
}
article div.pointsdevente {
  height: 555px;
}
article div.partenaires {
  height: 300px;
}

article div#announcement {
  position: absolute;
  z-index: 10000;
  width: 610px;
  height: 100%;
  top: 0px;
  left: 0px;
  text-align: center;
  background-color: black;
}
article div#announcement img {
  border: 2px solid red;
  padding: 5px 5px 20px 5px;
  background-color: black;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: none;
}
article div#announcement div {
  margin-top: -24px;
}

article form#devis_form {
  padding-top: 15px;
  padding-left: 25px;
}
article form#devis_form label {
  font-size: 14px;
}
article form#devis_form table td {
  padding-top: 5px;
  padding-bottom: 5px;
}
article form#devis_form table td.label {
  width: 200px;
  padding-top: 10px;
}
article form#devis_form table td.input {
  width: 340px;
}
article form#devis_form input[type="text"]:focus,
article form#devis_form textarea:focus {
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 1px, #9cf 0 0 10px;
  -moz-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 1px, #9cf 0 0 10px;
}
article form#devis_form input[type="text"],
article form#devis_form textarea {
  -webkit-box-shadow: rgba(255, 255, 255, 0.199219) 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.199219) 0px 1px 1px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  border: 1px solid red;
  border-radius: 4px 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: black;
  font-size: 14px;
  outline: none;
  padding: 5px;
  width: 340px;
}
article form#devis_form tr#type td {
  padding-bottom: 15px;
}
article form#devis_form tr#type label {
  padding-left: 60px;
}
article form#devis_form tr#type input {
  margin-left: 5px;
}

article form#devis_form tr#actions td {
  padding-top: 15px;
}
article form#devis_form tr#actions td.input {
  text-align: right;
}
article form#devis_form tr#actions input[type="submit"] {
  margin-right: 15px;
}

article div.pointsdevente img {
  float: right;
  width: 280px;
}

.button {
user-select: none;
-webkit-user-select: none;
-moz-user-select: none;
font: normal normal normal 75%/normal arial, sans-serif;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background-color:#F9F9F9;
background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 #F9F9F9;
background: -webkit-gradient(linear, 0 40%, 0 70%, from(#F9F9F9), to(#E3E3E3));
border:1px solid #BBBBBB;
color:#000000;
cursor:default;
margin:0;
outline:medium none;
padding:3px 6px;
text-align:center;
white-space:nowrap;
display:inline-block;
position:relative;
font-size:12px;
}
.button:hover {
border-color: red !important;
}
.button:active {
background-color:#EEEEEE;
background:-moz-linear-gradient(center top , #EEEEEE, #F9F9F9) repeat scroll 0 0 #EEEEEE;
background: -webkit-gradient(linear, 0 40%, 0 70%, from(#EEEEEE), to(#F9F9F9));
border-color: #444444 !important;
color:red;
text-shadow: white 0px 1px 1px;
}
.big-button {
font-size:14px;
padding:4px 8px;
}
/*
 *  CSS3 Media queries
 */

@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

@media screen and (max-device-width: 480px) {
  
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */ 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

