<h1>FOIRE AUX QUESTIONS</h1>
<h2>Comment passer une commande ?</h2>
<p>Pour passer une commande il vous suffit de nous envoyer un mail à <a href="mailto:contact@faster-nrj.fr">contact@faster-nrj.fr</a> pour que nous puissions vous contacter pour voir avec vous votre besoin et vous établir un devis ou un bon de commande.</p>
<h2>Quels sont les modes de paiment acceptés ?</h2>
<p>Nous acceptons les chèques et les virements, à savoir 50% à la commande et 50% à la livraison.</p>
<h2>Qui contacter en cas de problème de livraison ?</h2>
<p>Si vous rencontrez des problèmes avec votre livraison vous pouvez nous envoyer un mail à <a href="mailto:contact@faster-nrj.fr">contact@faster-nrj.fr</a>.</p>
<h2>Quelle est la qualité des boissons proposées ?</h2>
<p>Nos boissons sont fabriquées selon les normes, règles et législation en vigueur actuellement. Différents contrôles sont effectués durant la fabrication pour vous garantir un produit de qualité optimale.</p>