<h1>SPORTS</h1>
<p>Besoin d'un sponsor ou de reprendre des forces après le sport, <span class="faster">FASTER'S energy drink</span> est là.</p>
<p><br/></p>
<p>Concours de Surf sponsorisé par <span class="faster">FASTER'S energy drink</span></p>
<p class="photo">
  <img class="left" src="/static/images/surfer_1.jpg" alt="Surfer 1"/>
  <img class="middle" src="/static/images/surfer_2.jpg" alt="Surfer 2"/>
  <img class="right" src="/static/images/surfer_3.jpg" alt="Surfer 3"/>
</p>
<p class="photo">
  <img class="left" src="/static/images/surfer_4.jpg" alt="Surfer 4"/>
  <img class="middle" src="/static/images/surfer_5.jpg" alt="Surfer 5"/>
  <img class="right" src="/static/images/surfer_6.jpg" alt="Surfer 6"/>
</p>