<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="fr" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="fr" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="fr" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="fr" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="fr" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<title>Faster NRJ{% if page_name %} - {{ page_name|capfirst }}{% endif %}</title>
	<meta name="description" content="Faster energy drink website">
	<meta name="author" content="Alexandre Vivien">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/static/images/icons/faster_favicon.png">
	<link rel="apple-touch-icon" href="/static/images/icons/faster_touch-icon.png">
	<link rel="stylesheet" href="/static/css/style.css?v=2">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rock+Salt"/>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Changa+One"/>
	<script src="/static/js/libs/modernizr-1.6.min.js"></script>
	<script src="/static/js/libs/jquery-1.6.4.min.js"></script>
	
  <script src="/static/js/libs/jquery-ui-1.8.16.slide.min.js"></script>
	
	<script src="/static/js/base.js"></script>
	<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-21460361-1']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); 
      ga.type = 'text/javascript'; 
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body onload="javascript:setContentFromURL();" onscroll="javascript:move_menu(event);">
  <nav id="left">
    <ul id="menu_left" class="upper">
    	<li>
        <a id="produits_link" name="Produits" href="/produits" class="ajaxylink{% if page_name == "produits" %} selected{% endif%}"><span title="Produits" class="parent_rub" onmouseover="javascript:$('div#under_products').slideDown();" onmouseout="javascript:hide_under_products(event);">PRODUITS</span></a>
        <div id="under_products" onmouseout="javascript:hide_under_products(event);">
          <ul class="under">
            <li class="under_rub"><a name="Produits#taurine" class="under_rub ajaxylink" href="/produits#taurine">TAURINE</a></li>
      	    <li class="under_rub"><a name="Produits#guarana" class="under_rub ajaxylink" href="/produits#guarana">GUARANA</a></li>
          </ul>
        </div>
      </li>
      <li><a id="devis_link" name="Devis" href="/devis" class="ajaxylink{% if page_name == "devis" %} selected{% endif%}">DEVIS</a></li>
    	<li><a id="pointsdevente_link" name="Points de vente" href="/pointsdevente" class="ajaxylink{% if page_name == "pointsdevente" %} selected{% endif%}">POINTS DE VENTE</a></li>
    </ul>
  </nav>
  <section id="main">
  	<header id="header">
  	  <a href="/"><img style="height: 88px;" id="logo" src="/static/images/fasterrouge_seul.png" alt="Faster"/></a>
  		<h2>ENERGY DRINK</h2>
  	</header>
  	<article>
      <div id="page_content_1" class="{% if page_name %}{{ page_name }} page_content{% else %}page_content{% endif %}">{% if page_content_template %}{% include page_content_template %}{% endif %}</div>
      <div id="page_content_2" class="page_content"></div>
  	</article>
  	<footer id="footer">
  	  <nav id="bottom">
        <a id="faq_link" name="FAQ" href="/faq" class="ajaxylink{% if page_name == "faq" %} selected{% endif%}">FAQ</a>&nbsp;-
        <a id="contactez-nous_link" name="Contactez-nous" href="/contactez-nous" class="ajaxylink{% if page_name == "contactez-nous" %} selected{% endif%}">CONTACT</a>&nbsp;-
        <a id="societe_link" name="Société" href="/societe" class="ajaxylink{% if page_name == "societe" %} selected{% endif%}">SOCI&Eacute;T&Eacute;</a>
      </nav>
  		<p id="copyright">Copyright © 2011 Faster's Energy Drink. All Rights Reserved.</p>
  	</footer>
  	<div id="networks">
      <div>
        <g:plusone size="medium" href="http://www.faster-nrj.fr/"></g:plusone>
      </div>
      <div style="margin-top: 4px;">
        <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script> 
        <fb:like href="http://www.faster-nrj.fr/" layout="button_count" show_faces="false" width="90" action="like" colorscheme="dark" font=""></fb:like> 
      </div>
      <div style="margin-top: 6px;">
        <iframe src="http://platform.twitter.com/widgets/follow_button.html?screen_name=fasternrj&button=grey&id=twitter_tweet_button_0&lang=fr&link_color=%2300AEFF&show_count=false&show_screen_name=&text_color=%23FFFFFF" allowtransparency="true" frameborder="0" scrolling="no" class="twitter-follow-button" style="width: 170px; height: 20px; " title=""></iframe>
      </div>
    </div>
	</section>
	<nav id="right">
    <ul id="menu_right" class="upper">
    	<li><a id="partenaires_link" name="Partenaires" href="/partenaires" class="ajaxylink{% if page_name == "partenaires" %} selected{% endif%}">PARTENAIRES</a></li>
    	<li><a id="evenements_link" name="Evenements" href="/evenements" class="ajaxylink{% if page_name == "evenements" %} selected{% endif%}">EVENEMENTS</a></li>
    	<li><a id="cocktails_link" name="Cocktails" href="/cocktails" class="ajaxylink{% if page_name == "cocktails" %} selected{% endif%}">COCKTAILS</a></li>
    </ul>
  </nav>
	<script>
	  window.___gcfg = {lang: 'fr'};
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
    
	  $('a.ajaxylink').click(function(e){
	    hide_announcement();
	    
      var page_url = this.href.split('/')[this.href.split('/').length - 1];
	    var page_name = this.name;
      // Ensure middle, control and command clicks act normally
      if (e.which == 2 || e.metaKey || e.ctrlKey) {
        return true
      }
      return ajaxylink_click(page_name, page_url);
    });
    /*
    window.onpopstate = function(e) {
      console.log("location: " + document.location);
      console.log("event: " + e);
    };
    */
	</script>
	<!--[if lt IE 7 ]>
	<script src="js/libs/dd_belatedpng.js"></script>
	<script> DD_belatedPNG.fix('img, .png_bg');</script>
	<![endif]-->
</body>
</html>