<h1>COCKTAILS</h1>
<h2>Le Faster's</h2>
<p>2 cl de gin + 1 cl de vodka, un zeste de citron vert complété avec <span class="faster">FASTER'S</span> et de la glace pilée.</p>
<h2>Le Booster</h2>
<p>5 cl de vodka complété avec <span class="faster">FASTER'S</span> et de la glace pilée.</p>
<h2>Le Power</h2>
<p>4 cl de gin complété avec <span class="faster">FASTER'S</span> et de la glace pilée.</p>
<h2>L'After</h2>
<p>2 cl de vodka + 2 cl de whisky + 2 cl de gin, un zeste de citron vert complété avec <span class="faster">FASTER'S</span> et de la glace pilée.</p>
<h2>Pink Love</h2>
<p>50% champagne + 50% <span class="faster">FASTER'S</span></p>
<p class="avertissements">Les cocktails sont à consommer avec modération, l'abus d'alcool est dangereux pour la santé.</p>