<h2 class="first">LE FASTER's</h2>
<p>2 cl de gin + 1 cl de vodka, un zeste de citron vert complété avec <span class="faster">FASTER</span><span class="faster" style="color: red;">'s</span><span class="energydrink">ENERGY DRINK</span> et de la glace pilée.</p>
<h2>LE BOOSTER</h2>
<p>5 cl de vodka complété avec <span class="faster">FASTER</span><span class="faster" style="color: red;">'s</span><span class="energydrink">ENERGY DRINK</span> et de la glace pilée.</p>
<h2>LE POWER</h2>
<p>4 cl de gin complété avec <span class="faster">FASTER</span><span class="faster" style="color: red;">'s</span><span class="energydrink">ENERGY DRINK</span> et de la glace pilée.</p>
<h2>L'AFTER</h2>
<p>2 cl de vodka + 2 cl de whisky + 2 cl de gin, un zeste de citron vert complété avec <span class="faster">FASTER</span><span class="faster" style="color: red;">'s</span><span class="energydrink">ENERGY DRINK</span> et de la glace pilée.</p>
<h2>PINK LOVE</h2>
<p>50% champagne + 50% <span class="faster">FASTER</span><span class="faster" style="color: red;">'s</span><span class="energydrink">ENERGY DRINK</span></p>
<p class="avertissements">Les cocktails sont à consommer avec modération, l'abus d'alcool est dangereux pour la santé.</p>