<h2 class="first">PAR MAIL</h2>
<p>A l'adresse <a href="mailto:contact@faster-nrj.fr">contact@faster-nrj.fr</a></p>
<h2>PAR TELEPHONE</h2>
<p>0619493086 ou 0683647879</p>
<h2>VIA <a target="_blank" title="Suivez-nous sur Facebook" href="http://www.facebook.com/profile.php?id=100002064009386&sk=wall"><img src="/static/images/icons/facebook_icon.png" alt="Facebook"/></a> OU <a target="_blank" title="Suivez-nous sur Twitter" href="http://twitter.com/fasternrj"><img src="/static/images/icons/twitter_icon.jpg" alt="Twitter"/></a></h2>
<p>N'hésiter pas à y mettre vos commentaires.</p>