{% if not init and success %}
<p class="result">{{ response|default:"Devis envoyé." }}</p>
{% else %}
  {% if not init and not success %}
<p class="error">{{ response|default:"Désolé une erreur s'est produite lors de l'envoi. Pouvez-vous rééssayer ? Merci." }}</p>
  {% endif %}
<form id="devis_form" method="POST" action="/envoyer_devis" onsubmit="return send_devis();">
  <table>
    <tr id="type">
      <td class="label"></td>
      <td class="input">
        <label>Particulier </label><input type="radio" name="type" value="pa" {% if not type_utilisateur or type_utilisateur == 'pa'%}checked="checked"{% endif %}/>
        <label>Société </label><input type="radio" name="type" value="so" {% if type_utilisateur == 'so'%}checked="checked"{% endif %}/>
      </td>
    </tr>
    <tr>
      <td class="label"><label>Nom : </label></td>
      <td class="input"><input type="text" name="nom" value="{{ nom|default:"" }}"/></td>
    </tr>
    <tr>
      <td class="label"><label>Email : </label></td>
      <td class="input"><input type="text" name="email" value="{{ email|default:"" }}"/></td>
    </tr>
    <tr>
      <td class="label"><label>Téléphone (facultatif) : </label></td>
      <td class="input"><input type="text" name="tel" value="{{ tel|default:"" }}"/></td>
    </tr>
    <tr>
      <td class="label"><label>Ville : </label></td>
      <td class="input"><input type="text" name="ville" value="{{ ville|default:"" }}"/></td>
    </tr>
    <tr>
      <td class="label"><label>Commande (facultatif) : </label></td>
      <td class="input"><input type="text" name="commande" value="{{ commande|default:"" }}"/></td>
    </tr>
    <tr>
      <td class="label"><label>Message : </label></td>
      <td class="input"><textarea name="message" rows="5" >{{ message|default:"" }}</textarea></td>
    </tr>
    <tr id="actions">
      <td class="label"></td>
      <td class="input"><input type="submit" name="envoyer" value="Envoyer" class="button big-button"/><input type="reset" name="annuler" value="Annuler" class="button big-button"/></td>
    </tr>
  </table>
</form>
<p style="margin-top: 20px;">
  <span style="font-style: italic;">Livraison gratuite sur l'Ile de France. Hors Ile de France, le prix de la livraison sera indiqué dans le devis.</span>
</p>
{% endif %}