<h2 class="first">COMMENT PASSER UNE COMMANDE ?</h2>
<p>Pour passer une commande il vous suffit de nous envoyer un mail à <a href="mailto:contact@faster-drink.fr">contact@faster-drink.fr</a> pour que nous puissions vous contacter pour voir avec vous votre besoin et vous établir un devis ou un bon de commande.</p>
<h2>QUELS SONT LES MODES DE PAIEMENT ACCEPT&Eacute;S ?</h2>
<p>Nous acceptons les chèques et les virements, à savoir 50% à la commande et 50% à la livraison.</p>
<h2>QUI CONTACTER EN CAS DE PROBL&Egrave;ME DE LIVRAISON ?</h2>
<p>Si vous rencontrez des problèmes avec votre livraison vous pouvez nous envoyer un mail à <a href="mailto:contact@faster-drink.fr">contact@faster-drink.fr</a>.</p>
<h2>QUELLE EST LA QUALITE DES BOISSONS PROPOS&Eacute;ES ?</h2>
<p>Nos boissons sont fabriquées selon les normes, règles et législation en vigueur actuellement. Différents contrôles sont effectués durant la fabrication pour vous garantir un produit de qualité optimale.</p>