<h2 class="first">N'joy voyage</h2>
<p class="photo"><a href="http://www.njoyvoyage.com"><img style="width:250px;" src="/static/images/njoy_voyage.png" alt="N'joy voyage"/></a></p>
<h2>ELP</h2>
<p class="photo"><a href="http://facebook.com/elp.evenement"><img style="width:150px;" src="/static/images/elp_logo.png" alt="ELP"/></a></p>
<p style="text-align: center; margin-left: 0px;">Agence événementielle dans le secteur étudiant</p>
<h2>Deejay Peter pan's</h2>
<p style="height: 545px;">
  <a href="http://www.peterpansdj.com"><img style="width:200px; float:left; margin-right: 10px;" src="/static/images/peterpansdj3.jpg" alt="DJ Peter Pans"/></a>
  <a href="http://www.peterpansdj.com"><img style="width:392px; float:left; margin-bottom: 25px;" src="/static/images/peterpansdj1.jpg" alt="DJ Peter Pans"/></a>
  <a href="http://www.peterpansdj.com"><img style="width:392px; float:left;" src="/static/images/peterpansdj2.jpg" alt="DJ Peter Pans"/></a>
</p>
<h2>SOSAM</h2>
<p class="photo"><a href="http://www.sosam.info/"><img style="width:590px;" src="/static/images/sosam.png" alt="Sosam"/></a></p>
<p><br/><br/><br/></p>
<p>Vous voulez devenir partenaire avec <span class="faster">FASTER</span><span class="faster" style="color: red;">'s</span><span class="energydrink">ENERGY DRINK</span>, n'hésitez pas à nous contacter.</p>