<h2 class="first">N'joy voyage</h2>
<table class="photo" style="margin-left: 30px;">
  <tr>
    <td>
      <a href="http://www.njoyvoyage.com"><img style="width:220px;" src="/static/images/njoy_voyage.png" alt="N'joy voyage"/></a>
    </td>
    <td>
      <p>
      N'Joy Voyage : l'Agence pour vous, les étudiants.<br/>
      A la recherche d'un prestataire pour l'organisation de vos vacances, d'un bon plan pour aller skier ou pour vous dorer la pilule au soleil ?<br/> 
      Pensez à N'Joy Voyage, une agence de voyage dans l'air du temps, qui s'adapte aux attentes et au portefeuille de sa clientèle étudiante.
      </p>
    </td>
  </tr>
</table>
<h2>ELP</h2>
<table class="photo">
  <tr>
    <td>
      <a href="http://facebook.com/elp.evenement"><img style="width:150px;" src="/static/images/elp_logo.png" alt="ELP"/></a>
    </td>
    <td>
      <p>
      ELP évenement est une agence d'évenementiel qui propose de nombreux lieux à Paris pour l'organisation de soirées d'écoles ou professionnelles. 
      A la recherche de salles pour vos galas, soirées d'ecoles ou seminaires, la societé saura s'adapter à vos besoins tout en vous dirigeant vers la solution adaptée à votre projet.
      </p>
    </td>
  </tr>
</table>
<h2>Deejay Peter pan's</h2>
<p style="height: 565px;">
  <a href="http://www.peterpansdj.com"><img style="width:200px; float:left; margin-right: 10px; margin-top: 10px;" src="/static/images/peterpansdj3.jpg" alt="DJ Peter Pans"/></a>
  <a href="http://www.peterpansdj.com"><img style="width:392px; float:left; margin-bottom: 25px; margin-top: 10px;" src="/static/images/peterpansdj1.jpg" alt="DJ Peter Pans"/></a>
  <a href="http://www.peterpansdj.com"><img style="width:392px; float:left;" src="/static/images/peterpansdj2.jpg" alt="DJ Peter Pans"/></a>
</p>
<h2>EVENT HORIZON SPORT</h2>
<p class="photo"><a href="http://eventhorizonsport.com/"><img src="/static/images/logoevent.jpg" alt="Event Horizon sport"/></a></p>
<h2>SOSAM</h2>
<p class="photo"><a href="http://www.sosam.info/"><img style="width:590px;" src="/static/images/sosam.png" alt="Sosam"/></a></p>
<p><br/><br/><br/></p>
<p>Vous voulez devenir partenaire avec <span class="faster">FASTER</span><span class="faster" style="color: red;">'s</span><span class="energydrink">ENERGY DRINK</span>, n'hésitez pas à nous contacter.</p>