<p>Voici quelques points de vente où vous pourrez trouver du <span class="faster">FASTER'S energy drink</span></p>
<h2>Carrefour City</h2>
<img src="/static/images/carrefour_city.jpeg" alt="Carrefour City"/>
<p>6 Rond Point de Montfermeil<br/>
93340 Le Raincy</p>
<p><br/></p>
<p>46 Bvd de Chanzy<br/>
93190 Livry-Gargan</p>
<p><br/></p>
<p>77 rue Auguste Blanqui<br/>
93700 Drancy</p>
<h2>CocciMarket</h2>
<p>7 rue de l'eglise<br/>
93190 Livry-Gargan</p>
<h2>Station Service TOTAL</h2>
<img src="/static/images/rayon_zoom.jpeg" alt="Faster's"/>
<p>Avenue Aristide Briand<br/>
93190 Livry-Gargan</p>