<table>
  <tr>
    <td style="text-align: center;"><h2 style="margin-top: 10px;">Mohamed Adib</h2></td>
    <td style="text-align: center;"><h2 style="margin-top: 10px;">Fatima Adib</h2></td>
  </tr>
  <tr>
    <td class="image"><img style="width: 250px;" src="/static/images/mohamed_adib.jpg" alt="Mohamed Adib"/></td>
    <td class="image"><img style="width: 250px;" src="/static/images/fatima_adib.jpg" alt="Fatima Adib"/></td>
  </tr>
  <tr>
    <td class="section"><p>Catégorie</p></td>
    <td class="section"><p>Catégorie</p></td>
  </tr>
  <tr>
    <td class="valeur">
      <ul>
        <li>60/63Kg</li>
      </ul>
    </td>
    <td class="valeur">
      <ul>
        <li>57,5/62Kg</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td class="section"><p>Palmarès</p></td>
    <td class="section"><p>Palmarès</p></td>
  </tr>
  <tr>
    <td class="valeur">
      <ul>
        <li>Nombre de combats : 51</li>
        <li>8 K.O</li>
        <li>5 défaites</li>
      </ul>
    </td>
    <td class="valeur">
      <ul>
        <li>Nombre de combats : 38</li>
        <li>9 K.O</li>
        <li>3 défaites</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td class="type">
      <p>Boxe Française :</p>
      <ul>
        <li>2005 Champion de France Honneur</li>
        <li>2007 Vice Champion du Monde</li>
        <li>2008 Champion de France Elite</li>
      </ul>
    </td>
    <td class="type">
      <p>Boxe Française :</p>
      <ul>
        <li>2005  Vice Championne de France Elite</li>
        <li>2006  Vice Championne de France Elite</li>
        <li>2007  Championne de France Elite</li>
        <li>2008  Championne de France Elite</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td class="type">
      <p>Kick boxing :</p>
      <ul>
        <li>2005 Vice Champion de France classe A</li>
        <li>2009 Champion de france classe A</li>
        <li><b>2011 Champion de France professionnel</b></li>
      </ul>
    </td>
    <td class="type">
      <p>Kick boxing :</p>
      <ul>
        <li>2005 Vice Championne de France classe A</li>
        <li>2009 Championne de France classe A</li>
        <li>2011 Championne de France classe A</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td class="type"></td>
    <td class="type">
      <p>Full contact :</p>
      <ul>
        <li>2010 Championne d'Europe WAKO</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td class="type"></td>
    <td class="type">
      <p>Chauss fight :</p>
      <ul>
        <li>2008 Championne du Monde</li>
      </ul>
    </td>
  </tr>
</table>